:root{
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* Navbar */
nav{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    height: 5rem;

}

nav .left a {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;

}

nav .right a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0.6rem;
}

nav .right a:last-child{
    background-color: var(--text-color);
    color: var(--background-color) ;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;

}

nav .right a span{
    margin-left: 0.4rem;
}

@media (max-width: 600px){
    /* navnavbar */
nav {
    padding: 0rem 1.2rem;

}

nav .right a {
    font-size: 1.3rem;
    /* margin: 0 0.4rem; */
}
nav .right a span {
    display: none;
}

nav .right a:last-child {
font-size: 1.3rem;
color: var(--text-color);
background-color: var(--background-color);
padding: 0;
}

}

